* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}
.main-container {
	min-height: calc(100vh - 136px);
	width: 800px;
	margin-top: 60px;
}

.score-title{
	background: orange;
	color: #fff;
	margin-bottom: 16px;
	font-size: 30px;
	padding: 10px;
}

table {
	background: #aa43cc;
	width: 100%;
	text-align: center;
}

tr {
	border-bottom: 4px solid white;
}

th, td {
	padding: 10px;
}

footer {
	background: #e6c3f5;
	height: 80px;
	text-align: center;
	line-height: 80px;
}