<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/quiz.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
</head>

<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<div class="wrapper">
    <form action="submit" method="POST" th:object=${questionList2}>
        <div th:each="ques, i:${questionList2.questions}">
            <div class="wrap" th:id="'q'+${i.index+1}">
                <div class="text-center pb-4">
                    <div class="h5 font-weight-bold">
                        <span id="number" th:text="${i.index+1}">of 5</span>
                    </div>
                </div>
                <div class="h4 font-weight-bold">
                    <p th:text="${ques.title}"></p>
                </div>
                <div class="pt-4 question-list">
                    <label class="options"><p th:text="${ques.optionA}"></p>
                        <input type="radio" th:name="|questions[${i.index}].chose|" th:value="1"/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="options"><p th:text="${ques.optionB}"></p>
                        <input type="radio" th:name="|questions[${i.index}].chose|" th:value="2"/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="options"><p th:text="${ques.optionC}"></p>
                        <input type="radio" th:name="|questions[${i.index}].chose|" th:value="3"/>
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" th:name="|questions[${i.index}].quesId|" th:value="${ques.quesId}"/>
                    <input type="hidden" th:name="|questions[${i.index}].title|" th:value="${ques.title}"/>
                    <input type="hidden" th:name="|questions[${i.index}].ans|" th:value="${ques.ans}"/>
                </div>
                <div class="d-flex justify-content-end pt-2">
                    <span th:switch="${i.index}">
                        <button th:case="4" type="submit" class="btn btn-primary" >Submit Answer</button>
                        <button th:case="*" type="button" class="btn btn-primary" th:id="'next'+${i.index+1}" value="Next">
                             Next
                            <span class="fas fa-arrow-right"></span>
                        </button>

                    </span>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex flex-column align-items-center">
    <div class="h3 font-weight-bold text-white">Go Dark</div>
    <label class="switch">
        <input type="checkbox"/> <span class="slider round"></span>
    </label>
</div>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
<script>

    var q1 = document.getElementById("q1");
    var q2 = document.getElementById("q2");
    var q3 = document.getElementById("q3");
    var q4 = document.getElementById("q4");
    var q5 = document.getElementById("q5");

    var next1 = document.getElementById("next1");
    var next2 = document.getElementById("next2");
    var next3 = document.getElementById("next3");
    var next4 = document.getElementById("next4");

    var back1 = document.getElementById('back1')
    var back2 = document.getElementById('back2')
    var back3 = document.getElementById('back3')
    var back4 = document.getElementById('back4')

    let query = window.matchMedia("(max-width: 767px)");
    if (query.matches) {
        next1.onclick = function () {
            q1.style.left = "-650px";
            q2.style.left = "15px";
        };
        next2.onclick = function () {
            q2.style.left = "-650px";
            q3.style.left = "15px";
        };
        next3.onclick = function () {
            q3.style.left = "-650px";
            q4.style.left = "15px";
        };
        next4.onclick = function () {
            q4.style.left = "-650px";
            q5.style.left = "15px";
        };
        back1.onclick = function () {
            q1.style.left = "15px";
            q2.style.left = "650px";
        }
        back2.onclick = function () {
            q2.style.left = "15px";
            q3.style.left = "650px";
        }
        back3.onclick = function () {
            q3.style.left = "15px";
            q4.style.left = "650px";
        }
        back4.onclick = function () {
            q4.style.left = "15px";
            q5.style.left = "650px";
        }
    } else {
        next1.onclick = function () {
            q1.style.left = "-650px";
            q2.style.left = "50px";
        };
        next2.onclick = function () {
            q2.style.left = "-650px";
            q3.style.left = "15px";
        };
        next3.onclick = function () {
            q3.style.left = "-650px";
            q4.style.left = "15px";
        };
        next4.onclick = function () {
            q4.style.left = "-650px";
            q5.style.left = "15px";
        };
    }

    function uncheck() {
        var rad = document.getElementById("rd");
        rad.removeAttribute("checked");
    }

    document.addEventListener("DOMContentLoaded", function () {
        const main = document.querySelector("body");
        const toggleSwitch = document.querySelector(".slider");
        toggleSwitch.addEventListener("click", () => {
            main.classList.toggle("dark-theme");
        });
    });
</script>
</body>

</html>